@{
    ViewData["Title"] = "About The Chesed Project";
}


<div class="container mt-6 mb-6" style="color: black;">
    <div class="jumbotron">
        <h2>@ViewData["Title"]</h2>

    </div>


    <h5>Welcome to The Chesed Project!</h5>
    <br />
    <!--
    <p>
        Wanna get real for a minute? <br /><br />

        The idea for The Chesed Project came into existence as a result of a manic episode experienced by one of our Bipolar colleagues. No Joke. But we were so inspired by the idea that we thought we would do it anyway. Just because it was brought about by mania doesn’t mean it isn’t brilliant.<br /><br /> The Chesed Project is a culmination of two years of hard work, love, marriage, family, recovery, and Ahavat Chesed – The love of kindness.

    <p>-->
    <p>
        Fun fact, in the US alone there are 5,395 Jewish Charities listed in the GuideStar national directory of non-profit organizations. Combine that with similar numbers in every country which has a major Jewish population. Then add that to the countless Gemachs and Community Services not listed anywhere but local Jewish directories in thousands of communities all around the world, I would guesstimate that the number of organizations would amount close to if not over a few hundred thousand. Whilst we have so many organizations, we have very few ways of finding them, and although we have thousands doing chesed we have very few organizations with their sole focus being to inspire more people to practice it.
        <br />
        <br />
        The Chesed Project wants to address both of these gaps.
        <ul>
            <li>
                It aims to promote all things kindness, with a hope to inspire people to engage in acts of kindness regardless of how big or small. Providing creative and educational resources on the Torah’s guidelines about chesed, innovative ideas for different areas of chesed, and information on the science of kindness and it’s evidence base.
            </li>
            <li>
                The chesed project also aims to make chesed more accessible to those who need it by providing an easy to use global directory of all organizations, however remote, that provide a service to their community.
            </li>
        </ul>
    <p>

        We want our message to go global. We want to show the world how beautiful the Jewish approach to kindness is. We want to connect chesed initiatives everywhere and learn from the legends that are practicing chesed every day.

        In a world where Jews can be so divided and polarised, it seems the time has come to connect us all with kindness.
    </p>
    <br /><br />
    With Love, (and heaps of it)
    <br /><br />
    The Chesed Project

    </p>
</div>