@{
    ViewData["Title"] = "Home Page";
}



<section class="slider d-flex align-items-end">
    <!-- <img src="images/slider.jpg" class="img-fluid" alt="#"> -->
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12">
                <div class="slider-title_box">
                    <div class="row">
                        <p></p>
                    </div>
                    <div class="row d-flex justify-content-center my-6">
                        <div class="col-md-10">
                            @*<form class="form-wrap mt-4" asp-controller="Gemach" asp-action="Index" method="get">
                                <div class="btn-group" role="group" aria-label="Basic  example">
                                    <select id="categoryName" class="custom-select custom-select-lg mb-3" name="category">
                                        <option value="" selected>What Are You Looking for?</option>
                                        @foreach(string cat in ((string[])ViewData["Categories"]))
                                        {
                                            <option value="@cat">@cat</option>

                                        }
                                        
                                    </select>
                                    <select id="cityName" class="custom-select custom-select-lg mb-3" name="city">
                                        <option value="" selected>Choose a City</option>
                                        @foreach (string city in ((string[])ViewData["Cities"]))
    {
                                    <option value="@city">@city</option>

}

                                    </select>
                                    <input id="selectInput" type="submit" class="btn btn-warning" style="height: 3rem; width: 35rem;" value="Search" />
                                </div>
                            </form>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--// SLIDER -->
<!--//END HEADER -->
<!--============================= FIND PLACES =============================-->

<!--============================= FIND PLACES =============================-->

<div class="styled-heading mt-6">
    <h3>GET INSPIRED</h3>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="#">
                <figure class="figure effect-selena">
                    <img src="~/images/malte-wingen-382149-unsplash.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                    <figcaption class="figure-caption">
                        <h6>Articles & Audio/Video <span>Shiurim</span></h6>
                        <p>Discover what the Torah has to say about Chesed </p>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <figure class="figure effect-selena">
                    <img src="~/images/oldschoolmedia.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                    <figcaption class="figure-caption"><h6>Inspiring Videos</h6><p>Get a boost and cry some happy tears!</p></figcaption>
                </figure>
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <figure class="figure effect-selena">
                    <img src="~/images/nikunj-gupta-224168-unsplash.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                    <figcaption class="figure-caption"><h6>The Science of Kindness</h6><p>Explore why kindness is good for you</p></figcaption>
                </figure>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="#">
                <figure class="figure effect-selena">
                    <img src="~/images/tomatoes.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                    <figcaption class="figure-caption"><h6>Chesed Champions</h6><p>Meet the people that are changing worlds</p></figcaption>
                </figure>
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <figure class="figure effect-selena">
                    <img src="~/images/art-bright-celebration-900102.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure." />
                    <figcaption class="figure-caption">
                        <h6>Kindness Ideas</h6>
                        <p>Get creative and find ways to be kind throughout your day!</p>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <figure class="figure effect-selena">
                    <img src="~/images/loveyourneighbour.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                    <figcaption class="figure-caption">
                        <h6>Blog</h6>
                        <p>How to create your own Gemach and more!</p>
                    </figcaption>

                </figure>
            </a>
        </div>
    </div>

</div>

<section class="main-block light-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="add-listing-wrap">
                    <h2>Join The Chesed Project</h2>
                    <p>Keep your communtiy updated and inspire the world to do <i>chesed.</i></p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div id="createaccount" class="featured-btn-wrap">
                    <a asp-controller="Account" asp-action="Register" method="get" class="btn btn-warning"><span class="ti-plus"></span> CREATE ACCOUNT</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--============================= ADD LISTING =============================-->

<!--//END ADD LISTING -->
@section Scripts{
    <script type="text/javascript">
        $('document').ready(() => {
            $('#selectInput').click(function () {
                var category = $('#categoryName').find(":selected").text();
                var city = $('#cityName').find(":selected").text();

            })


        }

                            });
    </script>
}