@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="container mt-6">
    <h2>Register</h2>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert-danger">
            <ul>
                @foreach (var error in ViewData.ModelState.Values.SelectMany(m => m.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        </div>
    }
    <form method="Post" asp-action="Register" asp-controller="Account">

        <div class="form-group">
            <label asp-for="userName"></label>
            <input asp-for="userName" class="form-control" type="text" placeholder="Enter your user name" required />
        </div>
        <div class="form-group">
            <label asp-for="firstName"></label>
            <input asp-for="firstName" class="form-control" type="text" placeholder="Enter your first name" required />
        </div>
        <div class="form-group">
            <label asp-for="lastName"></label>
            <input asp-for="lastName" class="form-control" type="text" placeholder="Enter your last name" required />
        </div>
        <div class="form-group">
            <label asp-for="phoneNumber"></label>
            <input asp-for="phoneNumber" class="form-control" type="tel" placeholder="Enter your telephone number" required />
        </div>
        <div class="form-group">
            <label asp-for="email"></label>
            <input asp-for="email" class="form-control" type="email" placeholder="Enter your email" required />
        </div>
        <div class="form-group">
            <label asp-for="password"></label>
            <input asp-for="password" class="form-control" type="password" placeholder="Enter your Password" required />
        </div>
        <input type="submit" class="btn btn-primary" value="Sign Up" />
    </form>


</div>